@import "../../styles/pages.css";

.statistics {
  height: 100%;
  width: 100%;
  background: white;
  overflow: hidden;
}

.statistics .echarts-for-react>div {
  width: auto !important;
}

.statistics .echarts-for-react>canvas {
  width: auto !important;
}

.mini-game-title {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-chart {
  padding: 0px calc((100% - 1120px) / 2);
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}
