@import "../assets/fonts/Golos-Text/stylesheet.css";

html, body, #root {
  height: 100%;
  width: 100%;
}

#root {
  position: relative;
  font-family: 'Golos Text';
}

.container {
  min-height: 100%;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .container .sidebar {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 505px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }
}