@import "../../styles/pages.css";

.home {
  height: 100%;
  width: 100%;
  background: white;
  overflow: hidden;
}

.home .title, .home .subtitle {
  margin: 0px;
}

.home .about .subtitle {
  text-align: center;
}

.home .about {
  padding: 0px calc((100% - 1120px) / 2);
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .features {
  width: 100%;
  margin: 20px 0px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
  background: #F4F5F7;
}

.home .features .feature-about-icon {
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .features .feature-about-content {
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .features .feature-about-content .subtitle {
  width: 100%;
  text-align: start;
}

.home .player-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 50%;
}

.home .react-player {
  position: absolute;
  top: 15%
}

.home .team {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F4F5F7;
}

.home .team .team-avatar {
  height: 150px;
  width: 150px;
  border-radius: 6px;
}

.home .team .team-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}