.card {
  padding: 35px 0px 0px 0px;
  height: 250px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #F4F5F7;
  border-radius: 6px;
}

.card .content {
  text-align: center;
}

.card .content .title {
  font-size: 64px;
}

.card .content .subtitle {
  font-size: 24px;
}

.card .quarter-circle {
  padding: 40px 0px 0px 40px;
  width: 125px;
  height: 125px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 125px;
  border-bottom-right-radius: 6px;
}
