@import "../../styles/pages.css";

.sprint {
  height: 100%;
  width: 100%;
  position: relative;
  background: white;
}

.sprint .progress {
  margin-right: 10px;
  width: 100px;
  display: inline-block;
}