.modal-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-item {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 10px auto;
}