.options-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.options-item {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 10px auto;
}

.options-box {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.options-button {
    cursor: pointer
}